.main-nav {
  color: $main-green;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  margin-top: 14px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-left: 0;
  justify-content: space-between;
  width: 796px;

  @include list-style;
}

.main-nav__link {
  color: $main-green;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;

  &--border {
    border: 2px solid #475f45;
    box-sizing: border-box;
    padding: 15px 30px 15px 30px;
  }
}
